.page {
    margin-top: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

.info {
    display: flex;
    gap: 7em;
    font-size: 20px;
}

.question {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.question h1 {
    width: 80vw;
    word-wrap: break-word;
    font-size: 37px;
}
.question .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 65%;
    gap: 2.6em;
}

.question .options button {
    font-weight: 800;
    font-size: 1.5em;
    padding: .4em;
    width: 270px;
    background-color: #6CF3D5;
    color: #2B364A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.question .options button:hover {
    background-color: #9ff3e1;
}

.wrong {
    background-color: #FF1D44 !important;
}
.correct {
    background-color: #A3B808 !important;
}

@media (max-width: 768px) {
    .info {
        gap: 2em;
        font-size: 15px;
    }

    .question h1 {
        font-size: 27px;
    }

    .question .options {
        gap: 1.5em;
    }

    .question .options button {
        font-size: 1.2em;
        width: 230px;
    }
}

@media (max-width: 425px) {
    .info {
        gap: 1.6em;
        font-size: 10px;
    }

    .question h1 {
        font-size: 14px;
    }
    .question .options button {
        font-size: .8em;
        width: 190px;
    }
}

@media (max-width: 320px) {
    .info {
        gap: 1.2em;
        font-size: 9px;
    }

    .question h1 {
        font-size: 14px;
    }
    .question .options button {
        font-size: .8em;
        width: 190px;
    }
}

